################################
## Sensorless XY homing       ##
################################

# Calibrated 2025-02-27

[stepper_x]
homing_speed: 80

[stepper_y]
homing_speed: 80

# TODO maybe recalibrate, sometimes too sensitive (aim for a lower thrs)
[autotune_tmc stepper_x]
sg4_thrs: 133

[autotune_tmc stepper_y]
sg4_thrs: 108


################################
## Bed PID                    ##
################################

# Calibrated 2025-03-16
[heater_bed]
pid_Kp: 63.585
pid_Ki: 2.923
pid_Kd: 345.741


################################
## Extruder PID               ##
################################

# Calibrated 2025-03-11
[extruder]
pid_Kp: 35.921
pid_Ki: 4.605
pid_Kd: 70.045


################################
## Extruder rotation distance ##
################################

# Update to 'current * actual / expected'
#
# Calibrated 2025-02-27 (base G2E value was correct)
[extruder]
rotation_distance: 47.088


################################
## Probe Z-offset             ##
################################

# Increase to push nozzle closer to bed
# Decrease to pull nozzle away from bed
#
# Calibrated 2025-10-01 after toolhead repair
[probe]
z_offset: -1.530


################################
## Z thermal adjust           ##
################################

# Calibrated 2025-09-29 with measure_thermal_beahvior script, separating values into two sets (8k and 10k)
[z_thermal_adjust]
temp_coeff: 0.00695

################################
## Input shaper               ##
################################

# Calibrated 2025-04-21 with Shaketune
[input_shaper]
shaper_type_x: ei
shaper_freq_x: 55.0
damping_ratio_x: 0.046
shaper_type_y: ei
shaper_freq_y: 38.6
damping_ratio_y: 0.054


################################
## Speed and accel            ##
################################

# Calibrated 2025-03-13 with Shaketune
[printer]
max_accel: 2740
square_corner_velocity: 5.0
