[gcode_macro _ENSURE_EXTRUDER_HOT]

[gcode_macro _TIP_SHAPING]
description: Filament tip shaping sequence
gcode:
  {% set vars = printer["gcode_macro _USER_VARIABLES"] %}
  {% set TEMP = params.TEMP | default(vars.extruder_default_temp) | float %}

  SAVE_GCODE_STATE NAME=TIP_SHAPING_STATE
  _ENSURE_EXTRUDER_HOT T={TEMP}

  # Disable pressure advance
  {% set old_pressure_advance = printer.extruder.pressure_advance | default(0) %}
  SET_PRESSURE_ADVANCE ADVANCE=0

  M82           ; E absolute
  G92 E0        ; Reset E
  G1 E2 F3600
  G1 E0 F3600
  G1 E3 F3600
  G1 E0 F3600
  G1 E4 F3600
  G1 E0 F3600

  # Restore pressure advance
  SET_PRESSURE_ADVANCE ADVANCE={old_pressure_advance}
  M400 ; wait for completion

  RESTORE_GCODE_STATE NAME=TIP_SHAPING_STATE
