[gcode_macro _WIPE_PARK]
description: Park toolhead above bucket next to brush
gcode:
  _PARK_TOOLHEAD POS=bucket

[gcode_macro _WIPE_ONCE]
description: Move 
gcode:
  {% set vars = printer['gcode_macro _USER_VARIABLES'] %}

  {% set xyfeed = vars.travel_speed * 60 %}
  {% set x_start = vars.wipe_x_start %}
  {% set y_start = vars.wipe_y_start %}
  {% set dx = vars.wipe_dx %}
  {% set dy = vars.wipe_dy %}
  {% set zfeed = vars.z_drop_speed * 60 %}
  {% set z = vars.wipe_z %}

  G90 ; absolute
  G1 X{x_start} Y{y_start} F{xyfeed} ; Move to XY start
  G1 Z{z} F{zfeed} ; Move to Z start
  G1 X{x_start + dx} Y{y_start + dy} F{xyfeed} ; Across to right, back to front
  G1 X{x_start + dx} Y{y_start} F{xyfeed} ; Back
  G1 X{x_start} Y{y_start + dy} F{xyfeed} ; Across to left, front to back
  G1 X{x_start} Y{y_start} F{xyfeed} ; Back to start position

[gcode_macro WIPE_NOZZLE]
gcode:
  {% set cooldown = params.COOLDOWN | default(0) %}

  {% set vars = printer['gcode_macro _USER_VARIABLES'] %}

  {% set accel = vars.travel_accel %}
  {% set zfeed = vars.z_drop_speed * 60 %}
  {% set z_clear = vars.wipe_z_clear %}
  {% set count = vars.wipe_count %}
  {% set cooldown_target = vars.wipe_cooldown_target %}
  {% set cooldown_step = vars.wipe_cooldown_step %}

  SAVE_GCODE_STATE NAME=state_wipe

  _CG28 ; Home if needed
  INFO MSG="Wiping nozzle..."

  {% set prev_accel = printer.toolhead.max_accel %}
  SET_VELOCITY_LIMIT ACCEL={accel}

  # Ensure we clear Z
  {% if printer.toolhead.position.z < z_clear %}
    G90 ; absolute
    G1 Z{z_clear} F{zfeed}
  {% endif %}

  _WIPE_PARK

  {% if cooldown %}
    _WIPE_ONCE

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    M106 S255 ; fan on

    {% set temp = printer.extruder.temperature %}
    {% set from = ((temp / step) | int) * step %}
    {% set to = (((cooldown_target / step) | int) - 1) * step  %}

    {% for t in range(first, cooldown_target - step, -step) %}
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={t}
      _WIPE_ONCE
    {% endfor %}

    M106 S0 ; fan off
  {% else %}
    {% for i in range(0, count) %}
      _WIPE_ONCE
    {% endfor %}
  {% endif %}

  G1 Z{z_clear} F{zfeed} ; Clear Z again
  M400 ; wait

  # Restore acceleration
  SET_VELOCITY_LIMIT ACCEL={prev_accel}

  RESTORE_GCODE_STATE NAME=state_wipe


[gcode_macro WIPE_NOZZLE_OLD]
gcode:
  {% set vars = printer['gcode_macro _USER_VARIABLES'] %}
  
  {% set xyfeed = vars.travel_speed * 60 %}
  {% set accel = vars.travel_accel %}
  {% set zfeed = vars.z_drop_speed * 60 %}
  {% set min_temp = vars.filament_default_temp %}
  
  {% set z = vars.wipe_z %}
  {% set z_clear = vars.wipe_z_clear %}
  {% set x_start = vars.wipe_x_start %}
  {% set y_start = vars.wipe_y_start %}
  {% set dx = vars.wipe_dx %}
  {% set dy = vars.wipe_dy %}
  {% set count = vars.wipe_count %}

  {% set skip_temp_check = params.SKIP_TEMP_CHECK | default(0) | int %}

  {% set prev_target = -1 %}

  SAVE_GCODE_STATE NAME=state_wipe

  INFO MSG="Wiping nozzle..."

  _CG28 ; Home if needed

  # Override acceleration
  {% set prev_accel = printer.toolhead.max_accel %}
  SET_VELOCITY_LIMIT ACCEL={accel}

  G90 ; absolute

  # Ensure we clear Z
  {% if printer.toolhead.position.z < z_clear %}
    G1 Z{z_clear} F{zfeed}
  {% endif %}

  # Heat up above bucket if needed
  {% if (not skip_temp_check) and printer.extruder.temperature < min_temp %}
    _PARK_TOOLHEAD POS=bucket
    
    {% if printer.extruder.target < min_temp %}
      {% set prev_target = printer.extruder.target %}
      M109 S{min_temp}
    {% else %}
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={min_temp}
    {% endif %}
  {% endif %}

  G1 X{x_start} Y{y_start} F{xyfeed} ; Move to XY start
  G1 Z{z} F{zfeed} ; Move to Z start

  {% for i in range(0, count) %}
    G1 X{x_start + dx} Y{y_start} F{xyfeed} ; Move across brush
    G1 X{x_start} Y{y_start} F{xyfeed} ; Move back
  {% endfor %}

  G1 Z{z_clear} F{zfeed} ; Clear Z again

  M400 ; wait

  # Restore previous extruder target
  {% if prev_target == 0 %}
    # No need to wait, we were not in the middle of a print
    M104 S0
  {% elif prev_target > 0 %}
    M109 S{prev_target}
  {% endif %}

  # Restore acceleration
  SET_VELOCITY_LIMIT ACCEL={prev_accel}

  RESTORE_GCODE_STATE NAME=state_wipe
